$brand-success: #1989fa;

.node-main { width: 780px; }

.node-box {
  width: 100%;
}

.node-box .node-logo {
  // width: 200px;
  width: 160px;
  img {
    display: inline-block;
    margin: 0 auto;
    max-width: 160px;
  }
}

.node-box .node-desc {
  width: 600px;
  margin-left: 20px;

  .node-head { 
    color: #222;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .node-body {
    font-size: 14px;
    line-height: 22px;
    color: #777;
  }
}

.node-list-nav {
  margin: 30px 0px 20px 0px;
  width: 780px;
  // background-color: #fbfbfb;
  // border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #e8e8e8;
}

.node-list-nav ul.node-list {
  list-style: none;

  > li {
    font-size: 14px;
    white-space: nowrap;
    height: 35px;

    &.active a {
      color: $brand-success;
      // border-bottom: 2px solid $brand-success;
      &:before {
        content: " ";
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin-right: 6px;
        background-color: $brand-success;
        vertical-align: middle;
        opacity: 1;
      }
    }
  }

  > li > a {
    position: relative;
    display: inline-block;
    // height: 20px;
    // line-height: 20px;
    padding: 10px 15px;
    color: #333;
  }

  > li > a:hover {
    color: $brand-success;
  }
}