@import "base/all";

.moblePageBreak {
  display: none !important;
}

a.load-more-btn {
  display: block;
  width: 100%;
  border: 1px solid #dcdcdc;
  padding: 15px 0px;
  text-align: center;
  font-size: 14px;
  margin: 20px 0;
  cursor: pointer;

  &.disabled {
    color: #777;
    background-color: #fbfbfb;
  }

  &:hover {
    background-color: #fbfbfb;
  }
}

.wx-image {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}