.f-left {
  float: left;
}

.f-right {
  float: right;
}

.f-none {
  float: none;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.text-center {
  text-align: center;
}

.text-underline {
  text-decoration: underline;
}

.text-success {
  color: $brand-success;
}

.text-muted {
  color: #cccccc;
}

.transition {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

* html .clearfix  { zoom: 1; } /* IE6 */
*+html .clearfix { display: inline-block; } /* IE7 */

@each $distance in 0, 2, 5, 8, 10, 15, 20, 30, 50, 70, 100 {
  @each $direction in 'left', 'right', 'top', 'bottom' {
    .m-#{$direction}#{$distance} {
      margin-#{$direction}: #{$distance}px;
    }
  }
}