@import "header";
@import "footer";
@import "sidebar";
@import "article-list";
@import "article";

.main {
  width: 1170px;
  margin: 0 auto;
  min-height: 1500px;
  margin-top: 20px;
}

.main.article-main { margin-top: 30px; }

body.welcome-sign_in,
body.welcome-sign_up,
body.articles-new,
body.articles-create,
body.articles-user_articles {
  background-color: #f0f0f0;

  .main {
    background-color: #ffffff;
    min-height: 600px;
  }
}

.a-content-ad { text-align: center; }

.r-side-ad {
  margin-bottom: 16px;
  text-align: center;
}

.about-section { margin-bottom: 16px; }