.header {
  width: 100%;
  z-index: 9999;
}

.header-navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #f0f0f0;
}

.header-navbar .navbar-inner {
  width: 1170px;
  margin: 0 auto;
  height: 60px;
  line-height: 60px;
  background-color: #ffffff;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;

  .nav-logo {
    float: left;
    margin-right: 20px;

    a {
      display: inline-block;
      padding-top: 12px;
    }

    img { 
      height: 30px; 
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out;
    }
  }

  .nav-list {
    display: block;
    font-size: 15px;
  }

  .nav-list > li {
    list-style: none;
    font-weight: 500;
    white-space: nowrap;

    a {
      display: inline-block;
      text-align: center;
      height: 60px;
      color: #333;
      &:hover { color: $brand-success; }
    }
  }
}

.header.active .navbar-inner {
  height: 40px;
  line-height: 40px;

  .nav-list {
    font-size: 14px;
  }

  .nav-list > li > a {
    height: 40px;
  }

  .nav-logo {
    a { padding-top: 7px; }
    img { height: 20px; }
  }
}

.main-nav .nav-list > li > a {
  padding: 0 15px;
  position: relative;
}

.main-nav .nav-list > li > .nav-dropdown {
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  z-index: 1;
  background-color: #fbfbfb;
  // margin-top: -2px;
  display: none;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;

  .nav-dropdown-list {
    width: 1170px;
    margin: 0 auto;
    list-style: none;
    height: 40px;
  }

  li { 
    float: left; 
    height: 40px;
    line-height: 40px;
  }

  li a {
    display: inline-block;
    padding: 0px 15px;
    font-size: 13px;
    height: 40px;
    color: #666;
  }

  li a:hover {
    border-bottom: 2px solid $brand-success;
  }
}

.main-nav .nav-list > .nav-dropdown-toggle.open {
  .nav-dropdown {
    display: block;
  }
}

.header.active .main-nav .nav-list > li > .nav-dropdown {
  top: 40px;
}

.main-nav .nav-list > li.active > a {
  color: #000;
  box-sizing: border-box;
  border-bottom: 2px solid $brand-success;
}

.sub-nav .nav-list li {
  padding-left: 15px;
  padding-right: 0;
}
