.header {
  width: 100%;
  z-index: 9999;
}

.header-navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #f0f0f0;
}

.header-navbar .navbar-inner {
  width: 1170px;
  margin: 0 auto;
  height: 60px;
  line-height: 60px;
  background-color: #ffffff;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;

  .nav-logo {
    float: left;
    margin-right: 20px;

    a {
      display: inline-block;
      padding-top: 12px;
    }

    img { 
      height: 30px; 
      // width: 100px;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out;
    }
  }

  .nav-list {
    display: block;
    font-size: 15px;
  }

  .nav-list > li {
    list-style: none;
    font-weight: 500;
    white-space: nowrap;

    a {
      display: inline-block;
      text-align: center;
      height: 60px;
      color: #333;
      &:hover { color: $brand-success; }
    }
  }
}

.header.active .navbar-inner {
  height: 40px;
  line-height: 40px;

  .nav-list {
    font-size: 14px;
  }

  .nav-list > li > a {
    height: 40px;
  }

  .nav-logo {
    a { padding-top: 7px; }
    img { height: 26px; }
  }
}

.main-nav .nav-list > li > a {
  padding: 0 15px;
  position: relative;
}

.main-nav .nav-list > li > .nav-dropdown {
  width: 500px;
  position: absolute;
  top: 60px;
  left: -100px;
  border: 1px solid #f0f0f0;
  // border-left: 1px solid #f0f0f0;
  // border-right: 1px solid #f0f0f0;
  // border-bottom: 1px solid #f0f0f0;
  z-index: 1;
  background-color: #fff;
  // margin-top: -2px;
  display: none;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;

  .nav-dropdown-list {
    // width: 1170px;
    width: 100%;
    // margin: 0 auto;
    padding: 0px 5px 15px 5px;
    list-style: none;
    // height: 40px;
  }

  li { 
    float: left; 
    height: 20px;
    line-height: 20px;
    margin-top: 15px;
  }

  li a {
    display: inline-block;
    padding: 0px 10px;
    font-size: 13px;
    height: 20px;
    color: #666;
  }

  li a:hover {
    // border-bottom: 2px solid $brand-success;
    background-color: $brand-success;
    color: #ffffff !important;
    border-radius: 8px;
  }
}

.main-nav .nav-list > .nav-dropdown-toggle {
  position: relative;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.main-nav .nav-list > .nav-dropdown-toggle.open {
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  background-color: #fbfbfb;

  & > a { 
    border-bottom: 2px solid #fbfbfb !important; 
    z-index: 9999;
  }

  .nav-dropdown {
    display: block;
    background-color: #fbfbfb;
    box-shadow: 2px 3px 5px #f0f0f0;
  }
}

.header.active .main-nav .nav-list > li > .nav-dropdown {
  top: 40px;
}

.main-nav .nav-list > li.active > a {
  color: $brand-success;
  font-weight: bolder;
  // border-bottom: 4px solid $brand-success;
}

.sub-nav .nav-list li {
  padding-left: 15px;
  padding-right: 0;
}

.nav-menu-li {
  position: relative;
}

.nav-menu {
  position: absolute;
  width: 120px;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  box-shadow: 1px 2px 2px #ccc;
  z-index: 1000;
  margin-top: 80px;
  margin-left: -34px;
  padding: 10px 0px;
  display: none;
}

.header-navbar .navbar-inner .sub-nav .nav-menu a {
  display: block;
  height: 38px;
  line-height: 38px;
  font-size: 15px;
  width: 100%;
  text-align: center;
}

.nav-menu-li.open .nav-menu {
  margin-top: 50px;
  display: block;
}

.header.active .nav-menu {
  margin-top: 35px;
}
