.header {
  width: 100%;
  z-index: 9999;
}

.header-navbar {
  // height: 34px;
  // height: 60px;
  // background-color: $brand-success;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f0f0;
}

.header-navbar .navbar-inner {
  width: 1170px;
  margin: 0 auto;
  height: 60px;
  line-height: 60px;
  // color: #333;
  // background-color: $brand-success;
  background-color: #ffffff;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;

  a { color: #333; }
}

.navbar-inner {
  .nav-logo {
    float: left;
    margin-right: 20px;

    a {
      display: inline-block;
      padding-top: 12px;
    }

    img { 
      height: 30px; 
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out;
    }
  }

  .main-nav { float: left; }

  .sub-nav { float: right; }

  .nav-list {
    display: block;
    font-size: 15px;
  }
}

.header.active {
  .navbar-inner {
    height: 40px;
    line-height: 40px;
  }

  .navbar-inner .nav-list {
    font-size: 14px;
  }

  .navbar-inner .nav-logo {
    a { padding-top: 7px; }
    img { height: 20px; }
  }
}

.nav-list li {
  list-style: none;
  font-weight: 500;
  // margin-right: 20px;
  white-space: nowrap;

  a {
    display: inline-block;
    text-align: center;
    color: #fff;

    &:hover {
      color: darken($brand-success, 20%);
    }
  }
}

.main-nav .nav-list li a {
  // width: 50px;
  padding: 0 15px;
}

.main-nav .nav-list li.active a {
  color: #000;
  border-bottom: 2px solid $brand-success;
}

li.more-node {
  position: relative;
  margin-right: 0px;
  padding-right: 40px;
}

.h-dropdown {
  position: absolute;
  top: 33px;
  left: -37px;
  list-style: none;
  background-color: $brand-success;
  width: 300px;
  z-index: 999999;
  display: none;
}

.h-dropdown li {
  margin: 0;
  padding: 0;
  margin-right: 0;
  float: left;
}

.h-dropdown li a {
  display: block;
  text-align: center;
  width: 100px;
  &:hover {
    background-color: #FFFFFF;
  }
}

.sub-nav .nav-list li {
  padding-left: 20px;
  // border-left: 1px solid darken($brand-success, 10%);
}

.header-breadcrumb {
  
}