= render partial: 'site/application/index_article', collection: @articles, as: :article

javascript:
  var aids = $('.article-item').map(function () {
    var aid = $(this).data('article_id');
    return aid;
  }).get().join(',');

  $.get('/comments/read_counts?aid=' + aids, function(rsp) {
    for (var i=0,len=rsp.length; i<len; i++) {
      var $item = $(".article-item[data-article_id="+rsp[i]['aid']+"]");
      console.log($item);
      $item.find('.cmtCount').text(rsp[i]['comments'])
      $item.find('.rdCount').text(rsp[i]['hits'])
    }
    
  }, 'json');
