.top-header {
  display: block;
  overflow: hidden;
}

.top-bar {
  height: 44px;
  line-height: 44px;
  position: relative;
  background-color: #ffffff;
  border-bottom: 1px solid #efefef;
  z-index: 99999;
}

.top-bar a.logo {
  text-align: center;
  font-size: 17px;
  color: #FFFFFF;
}

.top-menu {
  background: #f4f5f6;
  height: 37px;
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
}

.top-menu-tabs {
  overflow: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

.top-menu-tabs .tab {
  white-space: nowrap;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  color: #505050;
  text-decoration: none;
  font-size: 17px;
  line-height: 26px;
  height: 26px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-tap-highlight-color: rgba(0,0,0,.3);

  &.first-tab {
    border-right: 1px solid #dedede;
    span.icon { margin-right: 2px; }
  }

  &.current { color: $brand-success; }
}

.node-name {
  text-align: center;
  font-size: 17px;
  // color: #FFFFFF;
  height: 44px;
  line-height: 44px;

  img {
    // margin-top: 10px;
    vertical-align: sub;
  }
}

.top-bar .toggle-nodes-btn {
  position: absolute;
  right: 15px;
  top: 2px;
  font-size: 20px;
  color: #999;
}
