.box {
  width: 100%;
  border-radius: 4px;
}

.box-header {
  border-bottom: 1px solid #f0f0f0;
}

.box-header .box-header-inner {
  padding: 20px 15px 0px 15px;

  h2 {
    float: left;
    padding: 0px 10px 10px 10px;
    border-bottom: 2px solid transparent;
    margin-right: 10px;
    &, a { color: #333; }
  }

  h2.active {
    border-bottom: 2px solid $brand-success;
  }
}

.box-body {
  padding-bottom: 20px;
}