@import "normalize";
@import "../helpers/all";
@import "../components/all";
@import "../layouts/all";

// Type
body, button, input, keygen, legend, select, textarea {
  font: 12px/1.14 Arial, 微软雅黑, "Microsoft yahei", "Hiragino Sans GB", "冬青黑体简体中文 w3", "Microsoft Yahei", "Hiragino Sans GB", "冬青黑体简体中文 w3", STXihei, 华文细黑, SimSun, 宋体, Heiti, 黑体, sans-serif;
  color: #333;
  outline: 0;
}

a {
  color: #222222;
}

a:visited {
  color: #999;
}

a, a:hover, del, ins, s, u {
  text-decoration: none;
}

a:hover {
  color: $brand-success;
}

div.slideBox div.tips div.nums a.active{ background-color: $brand-success;}
