table.cf-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;

  border-spacing: 0;
  border-collapse: collapse;

  tbody > tr > td {
    padding: 4px;
    // line-height: 20px; 
    // vertical-align: top;
    border-bottom: 1px solid #f0f0f0;
    font-size: 12px;
  }
}

.cf-table-center tbody > tr > td {
  text-align: center;
}